@media screen and (min-width: 1024px) {
  h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 400%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 165%;
  }
}

#text {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
    -ms-wrap-margin:
    border:solid 1px black;
    padding:5px;
    width: 350%;
    height: 15px;
}

#punlist li p {
  font-weight: bold;
}

#signin{
  display: none;

  margin: auto;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .prompt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 185%
  }
}

@media screen and (max-width: 1024px) {
  .prompt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85%
  }
}

@media screen and (min-width: 1024px) {
  #Submit {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 210%;
  }
}

@media screen and (max-width: 1024px) {
  #Submit {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
  }
}

@media screen and (min-width: 1024px) {
  #Submit1 {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 210%;
  }
}

@media screen and (max-width: 1024px) {
  #Submit1 {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
  }
}

.answer {
  height: 15px;
  width: 2000px
}

#rooms{
  display: none;
  text-align: center
}

#punlist {
  /*float: middle;
  */
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  margin:auto
}

#puninput {
  float: left;
  vertical-align: bottom;
}

#pungame {
  width: 25%;
  height: 500px;
  display: none;
}

#time {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  #start {
    display: flex;
    align-items: center;
    width: 40%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  #start {
      display: flex;
      align-items: center;
      margin: auto;
      width: 85vw;
      height: 30vh;
  }
}

@media screen and (max-width: 1024px) {
  #start button {
    margin: auto;
    text-align: center;

    height: 90px;
    width: 90%;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
  }
}

@media screen and (min-width: 1024px) {
  #start button {
    margin: auto;
    text-align: center;

    height: 90px;
    width: 90%;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 160%;
  }
}

#buffer {
  margin: auto
  text-align: center;
  float: center;
  font-family: Poppins, sans-serif;
  font-size: 40px
}
