h1 {
  font-family: Poppins, sans-serif;
  text-align: center;
}

textarea
{
  -moz-border-radius: 15px;
 border-radius: 15px;
    border:solid 1px black;
    padding:5px;

    font-family: Poppins, sans-serif;
    font-size: 12px;
}
