@media screen and (min-width: 1024px) {
  h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 350%;
  }
}

@media screen and (max-width: 1023px) {
  h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 220%;
  }
}


#text {
  display: flex;
  border-radius: 15px;
  border: solid 1px black;
  padding: 5px;
  width: 90%;
  margin: auto;

  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#punlist li p {
  font-weight: bold;
}

#signin{
  display: none;
  float: center;
  margin: auto;
  text-align: center;
  align-items: center;

  width: 95vw;
  height: 30vh;
}

@media screen and (min-width: 1024px) {
  .prompt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 185%
  }
}

@media screen and (max-width: 1023px) {
  .prompt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%
  }
}

@media screen and (min-width: 1024px) {
  #Submit {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    width: 7%;
    display: block;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  #Submit {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    display: block;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  #Submit1 {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    width: 9%;
    display: block;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  #Submit1 {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    width: 23%;
    display: block;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .answer {
    height: 5vh;
    width: 85vw;
  }
}

@media screen and (max-width: 1023px) {
  .answer {
    height: 3vh;
    width: 78vw;
  }
}

#rooms{
  display: none;
  text-align: center
}

#punlist {
  /*float: middle;
  */
  width: 100%;
  height: 60%;
  padding: 0px;
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-all;
  margin:auto
}

#puninput {
  float: center;
  vertical-align: bottom;
}

#pungame {
  width: 70%;
  height: 500px;
  display: none;
  margin: auto;
}

#time {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  #start {
    display: flex;
    align-items: center;
    width: 40%;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  #start {
      display: flex;
      align-items: center;
      margin: auto;
      width: 85vw;
      height: 30vh;
  }
}

@media screen and (max-width: 1023px) {
  #start button {
    margin: auto;
    text-align: center;

    height: 90px;
    width: 90%;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
  }
}

@media screen and (min-width: 1024px) {
  #start button {
    margin: auto;
    text-align: center;

    height: 90px;
    width: 90%;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;

    background-color: greenyellow;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 160%;
  }
}

#buffer {
  margin: auto
  text-align: center;
  float: center;
  font-family: Poppins, sans-serif;
  font-size: 40px
}
